:root {
  --color-orange: #ec5e39;
  --color-brown: #ceb292;
}

#page-view-post * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-view-post button {
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 16px;
  color: lightgrey;
  cursor: pointer;
}

#page-view-post button:hover {
  color: var(--color-orange);
  transition: 200ms;
}

#page-view-post .container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 1000px;
  margin: auto;
  padding: 20px;
}

#page-view-post .post {
  margin: 20px 0;
  width: 960px;
}

#page-view-post .post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#page-view-post .post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-view-post .post-profile-img {
  width: 60px;
  margin-right: 10px;
}

#page-view-post .post-user-name {
  font-size: 32px;
}

#page-view-post .post-create-date {
  color: darkgrey;
  font-size: 20px;
}

#page-view-post .post-box {
  /* border: 1px solid darkgrey; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 30px;
  margin-bottom: 30px;
}

#page-view-post .bookmark {
  text-align: right;
  font-size: 20px;
}

#page-view-post .bookmark i {
  color: var(--color-brown);
  cursor: pointer;
  padding-right: 8px;
}

#page-view-post .bookmark i:hover {
  color: var(--color-orange);
  transition: 200ms;
}

#page-view-post .post-container {
  display: flex;
  flex-direction: row;
}

#page-view-post .post-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-right: 30px;
}

#page-view-post .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

#page-view-post .description {
  font-size: 18px;
  line-height: 2.2;
}

#page-view-post .post-buttons {
  text-align: right;
}

#page-view-post .comment-wrapper {
  width: 960px;
  /* padding: 20px; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#page-view-post .comments {
  width: 90%;
  margin: auto;
  padding: 30px 20px 20px 20px;
}

#page-view-post .comment-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

#page-view-post .comment-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

#page-view-post .comment-profile-img {
  width: 40px;
  margin-right: 10px;
}

#page-view-post .comment-user-name {
  width: 100px;
}

#page-view-post .comment-description {
  margin-right: 20px;
  width: 400px;
}

#page-view-post .comment-create-date {
  margin-right: 25px;
}

#page-view-post .new-comment {
  padding: 0 4px;
  font-size: 16px;
  width: 500px;
  height: 30px;
  border: 1px solid darkgrey;
  margin-right: 10px;
}
#page-view-post .noDisplay {
  display: none;
}
