:root {
  --color-orange: #ec5e39;
  --color-brown: #ceb292;
  --color-dark-grey: #333;
}

a {
  text-decoration: unset;
  color: unset;
}
a:hover {
  text-decoration: unset;
  color: unset;
}

/* 시작점 : 북마크 아이콘 스타일링 */
a.fas.fa-mug-hot {
  font-size: 22px;
  color: #ceb292;
}

a.fas.fa-mug-hot:hover {
  color: #ec5e39;
  cursor: pointer;
}
/* 종료점 : 북마크 아이콘 스타일링 */

#page-bookmark * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-bookmark #container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 62.5rem;
  margin: auto;
  padding: 1.25rem;
}

#page-bookmark .post {
  margin: 1.25rem 0;
  width: 60rem;
}

#page-bookmark .post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

#page-bookmark .post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-bookmark .post-profile-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 0.625rem;
}

#page-bookmark .post-user-name {
  font-size: 1.25rem;
}

#page-bookmark .post-create-date {
  color: darkgrey;
  font-size: 1.25rem;
}

#page-bookmark .post-box {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}

#page-bookmark .bookmark {
  width: 100px;
  text-align: right;
  font-size: 1.25rem;
}

#page-bookmark .bookmark i {
  color: var(--color-brown);
  cursor: pointer;
  padding-right: 0.5rem;
}
#page-bookmark .bookmark i:hover {
  color: var(--color-orange);
  transition: 200ms;
}

#page-bookmark .post-container {
  display: flex;
  flex-direction: row;
}

#page-bookmark .post-img {
  width: 15.625rem;
  height: 15.625rem;
  object-fit: cover;
  margin-right: 1.875rem;
}

#page-bookmark .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#page-bookmark .title:hover {
  color: var(--color-orange);
  transition: 200ms;
}

#page-bookmark .description {
  font-size: 1.125rem;
  line-height: 2.2;
}

#page-bookmark .post-buttons {
  text-align: right;
}

#page-bookmark .alignlocal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page-bookmark .localname {
  color: rgb(146, 145, 145);
  font-size: 1.1rem;
  z-index: 0;
}
#page-bookmark .post-content {
  display: flex;
  flex-direction: column;

  /* align-items: center */
}
