:root {
  --color-orange: #ec5e39;
  --color-brown: #ceb292;
}

a {
  text-decoration: unset;
  color: unset;
}
a:hover {
  text-decoration: unset;
  color: unset;
}

#page-main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-main #main-container {
  display: flex;
  flex-direction: row;
}

#page-main #sidebar {
  width: 15.625rem;
  min-width: 12.5rem;
  padding: 0;
  margin-right: 1.875rem;
}

#page-main #sidebar ul {
  margin-top: 1.25rem;
  list-style: none;
  background: var(--color-orange);
  position: sticky;
  top: 3.125rem;
}

#page-main #sidebar li a {
  text-decoration: none;
  padding: 0.625rem;
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
}
#page-main #sidebar li a:hover {
  background: #333;
  color: #fff;
}

#page-main #sidebar li a.home {
  background: #333;
  color: #fff;
}

#page-main #container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 62.5rem;
  margin: auto;
  padding: 1.25rem;
}

#page-main .post {
  margin: 1.25rem 0;
  width: 60rem;
}

#page-main .post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

#page-main .post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-main .post-profile-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 0.625rem;
}

#page-main .post-user-name {
  font-size: 1.25rem;
}

#page-main .post-create-date {
  color: darkgrey;
  font-size: 1.25rem;
}

#page-main .post-box {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}

#page-main .bookmark {
  text-align: right;
  font-size: 1.25rem;
}

#page-main .bookmark i {
  color: var(--color-brown);
  cursor: pointer;
  padding-right: 0.5rem;
}
#page-main .bookmark i:hover {
  color: var(--color-orange);
  transition: 200ms;
}

#page-main .post-container {
  display: flex;
  flex-direction: row;
}

#page-main .post-img {
  width: 15.625rem;
  height: 15.625rem;
  object-fit: cover;
  margin-right: 1.875rem;
}

#page-main .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#page-main .title:hover {
  color: var(--color-orange);
  transition: 200ms;
}

#page-main .description {
  font-size: 1.125rem;
  line-height: 2.2;
}

#page-main .post-buttons {
  text-align: right;
}
