/* https://velog.io/@jehjong/CSS%EC%97%90-%ED%8F%B0%ED%8A%B8-%EC%A0%81%EC%9A%A9%ED%95%98%EA%B8%B0-%EC%9B%B9%ED%8F%B0%ED%8A%B8-%ED%8F%B0%ED%8A%B8-%ED%8C%8C%EC%9D%BC */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Pretendard-Regular", sans-serif;
}

#page-create-post {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1rem;
}

#page-create-post #outer {
  /* text-align: center; */
  margin: 5rem 20rem;
}

#page-create-post #create-top {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
#page-create-post #member-id > img {
  width: 1rem;
  margin: 0 0.3rem 0 0;
}
#page-create-post #box {
  text-align: center;
  background-color: #faeee9;
  border-radius: 10px;
  margin-top: 1rem;
  /* border: 1px solid gray;
  border-radius: 10px; */
  /* box-shadow: 1.2em 0.5em 0.4em #f79466, -1em -0.5em 0.4em #ffdac9; */
  /* box-shadow: https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow */
  padding: 1.5rem;
}
#page-create-post #box-top {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
#page-create-post #local-select {
  width: 9.5rem;
  height: 2.5rem;
  border-radius: 3px;
  border: 0;
  margin: auto 1.1rem;
}
#page-create-post #input-title {
  width: 30rem;
  height: 2rem;
  border: 0;
  border-radius: 5px;
  padding: 3px 10px;
}

#page-create-post #contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-create-post #image-container {
  width: 5rem;
}
#page-create-post #preview-image {
  width: 10rem;
  margin: auto 1rem;
  object-fit: contain;
  border-radius: 35px;
  box-shadow: 0.3rem 0.3rem 0.4rem gray;
  /*object-fit: https://nykim.work/86 */
}

<<<<<<< HEAD
/* 게시글 내용 */
#input-post {
=======
#page-create-post #input-post {
>>>>>>> 488b9ee (Fix: 페이지 css 분리)
  width: 30rem;
  height: 10rem;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-family: "Pretendard-Regular";
}

<<<<<<< HEAD
/* 포스트 버튼 */
#post {
=======
#page-create-post #post {
>>>>>>> 488b9ee (Fix: 페이지 css 분리)
  width: 10rem;
  height: 2.5rem;
  margin: 2rem 0 0 10rem;
  border: 0;
  border-radius: 4rem;
  background-color: #ffdac9;
}

#page-create-post #post:hover {
  background-color: #f79466;
}
<<<<<<< HEAD
=======

#page-create-post li {
  list-style: none;
}
>>>>>>> 488b9ee (Fix: 페이지 css 분리)
